#style {
    height: 100%;
    display: flex;
    flex-flow: row;
    justify-content: center; 
    align-items: center
}
html,body {
    height: 100%;
}

.bls {
    margin-bottom: 16px;
}
.form_label {
    min-width: 70px;
    display: inline-block;
}

input {
    border-radius: 3px;
    border:solid 1px #480b99;
    font-size: 1.1rem;
}
#sub {
    color: #480b99
}